
/*hover下拉菜单*/
.list-second li{
	display: none;
}
.list-first > li:hover .list-second > li {
	display: block;
	box-shadow: 5px 3px 5px 0px #ccc ;
	background: #fff;
}
.list-first > li:hover{
	color: #000;
}
.list-second a{
	height: .5rem;
	display: inline-block;
	width: 100%;
	color: #bbb;
	box-shadow: 5px 2px 5px 0px #ccc ;
}
.list-second a:hover{
	background: #ddd;
	color: #000;
}
.list-first div{
	position: absolute;
}*/
/*list-三角符号*/
.list-first-icon{
	border: solid .06rem ;
	border-color: #ccc #fff #fff #fff ;
	margin-top: .23rem;
	right: 8%;
}