/*color="#84ced8"
color="#eff0f4"
color="#e6e9eb"
*/
*{margin: 0;
padding: 0;}
html{font-size: 625%;}
body{background: #eff0f4;}
header{position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #5fc0cd;
	height: .44rem;}
header a{color: #fff;
	font-size: .18rem;
	text-decoration: none;
	padding: .1rem;}
.headerleft{float:left;}
.headerright{float:right;}
.h2style{text-align: center;
	font-size: .2rem;
	color: #fff;
	line-height: .42rem;}


.phone{float: left;
}
.password{float: left;
}

.top{background: #84ced8;
	height: 2rem;

}
.bottom{background: #84ced8;
	height: 2.2rem;

}
.putin{height: 2.2rem;
	background: #fff;

}

.puttxt{color: #e6e9eb;
}
.forget01{color:#84ced8;
	float: right;
}