*{
    margin: 0;
    padding: 0;
    list-style: none;
}
em{
    font-style: normal;
    color: #e26163 ;   
}
html{
    font-size: 625%;
}
body{
    background: #eff0f4;
}
header,
footer{
    height: .5rem;
    position: fixed;
}
header{
    top: 0;
    background: #5fc0cd;
    left: 0;
    right: 0;
}
footer{
    display:flex;
    bottom: .1rem;
    left: .1rem;
    right: .1rem;
}
main{
    position: absolute;
    top: .5rem;
    bottom: .6rem;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

/*header*/
.headerback{
    color: #fff;
    font-size: .2rem;
    text-decoration: none;
    padding: .12rem;
    float:left;
}
.h2style{
    text-align: center;
    font-size: .18rem;
    color: #fff;
    line-height: .5rem;
    padding: 0 .5rem;
}
/*footer*/
footer button{
    cursor:pointer;
    outline: none;
    border:none;
    border-radius:.05rem;
    background:#5fc0cd;
    color: #fff;
    font-size: .16rem;
    width: 50%;


}
.footer-l{
    background: #fff;
    border: solid .02rem #5fc0cd;
    color: #5fc0cd;
    margin-right: .1rem;
}
/*个人信息*/

.topbg{
    background: url("../images/c00501.png") no-repeat;
    height: 2rem;
    width: 100%;
    background-size: cover;
    position: relative;
}

.topbg div{
   color: #fff;
   font-size: .15rem;
   position: absolute;
}

.topshow{
    left: .3rem;
    top: 50%;
    margin-top: -.4rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    overflow: hidden;
    background: url("../images/c00502.png") no-repeat;
    background-position: center .1rem;
    background-size: 70%;
    background-color: #fff;
}
.topname{
    left: 1.4rem;
    top:0.78rem;
}
.topage{
    left: 1.9rem;
    top: .78rem;
}
.topplace{
    left: 1.4rem;
    top: 1rem;
    text-indent: .25rem;
    background: url("../images/c00503.png") no-repeat;
    background-position: .01rem ; 
    background-size: .15rem;
}
/*专业技能*/
.row li div ,
.skill div{
    font-size: .14rem;
}
.skill-top{
    padding: 0 .1rem;
    line-height: 0.5rem;
    border-bottom: solid 1px #ccc;
}
.skill-span{
    border-left: .04rem solid  #5fc0cd;
    padding-left:.1rem; 
}

.skill-star{
    display: inline-block;
    background: url("../images/c00504.png") no-repeat;
    background-size: .16rem;
    padding-left: .2rem;
    margin: 0 .1rem;
    top: 50%;
    transform: translateY(-50%);
}

.row li{ position: relative;
    border-bottom: solid 1px #ccc;
    margin: 0 .2rem;
    line-height: .2rem;
    

}
.skill-row-l{position: absolute;
    width: .8rem;
    color: #aaa;
    border-right: solid 1px #ccc;
    top: 50%;
    transform: translateY(-50%);
    padding-left: .2rem;
    line-height: .3rem;
}
.skill-row-r{
    color: #000;
    margin-left: 1.1rem;
    padding: .11rem;

}