/*color="#84ced8"
color="#eff0f4"
color="#e6e9eb"
*/
*{margin: 0;
padding: 0;}
html{font-size: 625%;}
body{background: #eff0f4;}
header{
	background: #5fc0cd;
	height: .44rem;}
header a{color: #fff;
	font-size: .18rem;
	text-decoration: none;
	padding: .1rem;}
.headerleft{float:left;}
.headerright{float:right;}
.h2style{text-align: center;
	font-size: .2rem;
	color: #fff;
	line-height: .42rem;}

.row{margin: .04rem 0;
	background: #fff;
	height: .44rem;
	border: solid red 0.001rem;
}

.phone{float: left;
	background: url("../images/c00401.png") no-repeat;
	background-size: .15rem;
	background-position:center;
	height: 0.44rem;
	width: 0.6rem;
}
.cut-off{float: left;
	background: url("../images/c00403.png") no-repeat;
	background-size: .01rem ;
	background-position:center;
	height: 0.44rem;
	width: 0.1rem;
}
.password{float: left;
	background: url("../images/c00402.png") no-repeat;
	background-size: .15rem;
	background-position:center;
	height: 0.44rem;
	width: 0.6rem;
}

.putin{height: 2.2rem;
	background: #fff;

}

.puttxt{color: #e6e9eb;
}
.forget01{color:#84ced8;
	float: right;
}