*{
    margin: 0;
padding: 0;
}
html{
    font-size: 625%;
}

body{
    background: #eff0f4;
}
header{
    background: #5fc0cd;
    height: .5rem;
}
em{
    font-style: normal;
    color:  #e26163 ;   
}
.headerback{
    color: #fff;
    font-size: .2rem;
    text-decoration: none;
    padding: .12rem;
    float:left;
}

 
.h2style{
    text-align: center;
    font-size: .18rem;
    color: #fff;
    line-height: .5rem;
}

.topbg{position: relative;
    background: url("../images/c00501.png") no-repeat;
    height: 2rem;
    width: 100%;
    background-size: cover;
}
.topbg div{
   color: #fff;
   font-size: .15rem;
   position: absolute;
}

.topshow{
    left: .3rem;
    top: 50%;
    margin-top: -.4rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    overflow: hidden;
    background: url("../images/c00502.png") no-repeat;
    background-size: 100%;
    background-color: #fff;
}
.topname{
    left: 1.4rem;
    top:0.78rem;
}
.topage{
    left: 1.9rem;
    top: .78rem;
}
.topplace{
    left: 1.4rem;
    top: 1rem;
    text-indent: .25rem;
    background: url("../images/c00503.png") no-repeat; 
    background-size: .15rem;
}
.skill div {
    font-size: .14rem;
    color: #000;
    line-height: .5rem;
}
.row{position: relative;
    flex-direction: row-reverse;
    font-size: .4rem;
    border-bottom: solid 0.01rem #000;
    margin: 0 .2rem;
}
.skill-row-l{
    position: absolute;
 
    left: 0;
    top: 0;
    line-height: .16rem;
    border-right: solid .01rem #000;
}
.skill-row-r{
    top: 0;
    position: absolute;
    padding-left: 1rem;
}