*{margin: 0;
}

body{text-align: center;
	background-color:#2bd3ec;
}

.c00307div{
	margin-top: 13rem;

}
.text001{margin-top:9rem ;
	margin-left: 13rem;
	margin-right: 13rem;
}
.text002{font-style: "黑体";
	font-size:1.9rem;
	color: #ffffff;
	text-align:left;}


 .c00303{position: absolute;
 	left: 5.47rem;
 	top: 3rem;
 	width: 3.44rem;
 }
 .c00307{
 	width: 11.3rem;
 }
 .c00311{position: absolute;
 	left: 14rem;
 	top:51rem;
 	width: 7.44rem;
 }
 .c00314{position: absolute;
 	right: 14rem;
 	top:51rem;
 	width:6.5rem;}


