ul,li,ol{
	list-style: none;
}
header,footer{
	position:fixed;
	z-index: 999999;
	left:0;
	right:0;
}
header{
	background: #5fc0cd;
	height:5.8rem;
	top:0;
	font-size: 2.2rem;
}
.header-button{
	margin-top: .75rem;
	border-radius: .72rem;
	background: #55a8b3;
	width:17.16rem;
	height: 4.4rem;
	position: relative;
	left:50%;
	transform: translateX(-50%);
}
.header-button button{
	font-weight: 200;
	height:4.4rem;
	width:8.58rem;
	padding: 0;
	border:0;
	border-radius: .72rem;
	color: #fff;
	background: #55a8b3;
}
.header-button .header-button-r{
	background: #fff;
	color: #55a8b3;
}
.header-icon{
	display: block;
	position: absolute;
	top: 1.8rem;
	right: 2.5rem;
	width:2.6rem;
	height: 2.78rem;
	background: url("../images/c00601.png") no-repeat;
	background-size: 100%;
}