*{
    margin: 0;
    padding: 0;
    list-style: none;
}
em{
    font-style: normal;
    color: #e26163 ;   
}
html{
    font-size: 625%;
}
body{
    background: #eff0f4;
}
header,
footer{
    height: .5rem;
    position: fixed;
}
header{
    top: 0;
    background: #5fc0cd;
    left: 0;
    right: 0;
}
footer{
    display:flex;
    /*flex布局*/
    bottom: .1rem;
    left: .1rem;
    right: .1rem;
}
main{
    position: absolute;
    top: .5rem;
    bottom: .6rem;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    /*设置overflow后，z-index属性变小，图层靠后
    auto滚动条可查看，hidden修剪后内容不可见*/
}

/*header*/
.headerback{
    color: #fff;
    font-size: .2rem;
    text-decoration: none;
    padding: .12rem;
    float:left;
}
.h2style{
    text-align: center;
    font-size: .18rem;
    color: #fff;
    line-height: .5rem;
    padding: 0 .5rem;
}
/*footer*/
footer button{
    cursor:pointer;
    outline: none;
    border:none;
    border-radius:.05rem;
    background:#5fc0cd;
    color: #fff;
    font-size: .16rem;
    width: 50%;


}
.footer-l{
    background: #fff;
    border: solid .02rem #5fc0cd;
    color: #5fc0cd;
    margin-right: .1rem;
}
/*个人信息*/

.topbg{
    background: url("../images/c00501.png") no-repeat;
    height: 2rem;
    width: 100%;
    background-size: cover;
    position: relative;
}

.topbg div{
   color: #fff;
   position: absolute;
}

.topshow{
    left: .3rem;
    top: 50%;
    margin-top: -.4rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    overflow: hidden;
    background: url("../images/c00502.png") no-repeat;
    background-position: center .1rem;
    /*背景定位前x后y*/
    background-size: 70%;
    background-color: #fff;
}
.topname{
    left: 1.4rem;
    top:0.78rem;
    font-size: .15rem;
}
.topage{
    left: 1.9rem;
    top: .78rem;
    font-size: .15rem;
}
.topplace{
    left: 1.4rem;
    top: 1rem;
    text-indent: .25rem;
    background: url("../images/c00503.png") no-repeat;
    background-position: .01rem ; 
    background-size: .15rem;
    font-size: .14rem;
}
/*专业技能*/
.skill{
    font-size: .14rem;
}
.skill-top{
    border-bottom: solid 1px #ccc;
    height:.5rem;
    position:relative;
}
.skill-span{
    margin: .18rem 0 0 .18rem;
    position: absolute;
    border-left: solid .04rem #5fc0cd;
    padding-left: .04rem;
}
/*住家&不含餐*/
.skill-star{
    display: inline-block;
    /*设置行块元素后，类似img标签*/
    padding-left: .18rem;
    margin-top: .16rem;
    background: url("../images/c00504.png") no-repeat;
    background-size: .15rem;
    background-position: .02rem .02rem;
}

/*专业技能>其他*/
.row li{
    position: relative;
    min-height: .5rem;
    border-bottom:solid 1px #ccc;
    margin: 0 .1rem;
}

.skill-row-l{
    color: #ccc;
    top: 50%;
    transform: translateY(-50%);
    /*transfrom相对元素存在位置偏移，百分比为元素自身大小*/
    padding: 0 .14rem;
    border-right: solid 1px #ccc;
    position: absolute;
}
.skill-row-r{
    padding: .155rem 0 .155rem 1rem;
}
    /*position设定absolute后，div无法撑开li框*/
